<nav class="top-0 absolute z-50 w-full flex justify-between px-2 py-3 bg-slate-900 shadow-md">
  <div class="flex items-center">
    <a href="/" class="text-white font-bold text-xl">App</a>
  </div>
  <div class="flex items-center">
    <a class="underline" href="/pokemons/page/1" class="text-white mr-4">Pokemons</a>
    <a class="underline" href="/pricing" class="text-white mr-4">Precios</a>
    <a class="underline" href="/contact" class="text-white mr-4">Contacto</a>
    <a class="underline" href="/about" class="text-white mr-4">Sobre</a>
  </div>
</nav>
