<h1 class="text-3xl">Precios de la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sequi saepe, in
    similique ducimus ipsam, minus ab debitis ratione facere assumenda cupiditate
    exercitationem! Blanditiis aspernatur veritatis iusto doloremque adipisci
    consectetur? lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
    sequi saepe, in similique ducimus ipsam, minus ab debitis ratione facere
    assumenda cupiditate exercitationem! Blanditiis aspernatur veritatis iusto
    doloremque adipisci consectetur?
  </p>
</section>
