@if ( pokemon() === null ) {
  <div class="flex justify-center">
    <div class="animate-pulse bg-blue-500 h-44 bg-opacity-25 rounded-lg shadow-md flex flex-col p-4 items-center justify-center cursor-pointer">
      <div class="w-24 h-24 bg-gray-300 rounded-full"></div>
      <div class="text-center mt-2">
        <h2 class="text-xl font-bold capitalize text-white">Loading...</h2>
      </div>
    </div>
  </div>
} @else {
  <section class="flex flex-col justify-center">
    <div class="flex justify-center">
      <h1 class="text-4xl font-bold capitalize my-5">{{ pokemon()!.name }}</h1>
    </div>
    <div class="flex justify-center">
      <img [src]="pokemonImage()" [alt]="pokemon()!.name" class="w-48 h-48" width="192px" height="192px" />
    </div>
    <!-- Create three columns with relevant info about the pokemon -->
    <div class="grid grid-cols-3 gap-4 mt-5">
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Height</h2>
        <p>{{ pokemon()!.height }}</p>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Weight</h2>
        <p>{{ pokemon()!.weight }}</p>
      </div>
      <div class="flex flex-col items-center">
        <h2 class="text-xl font-bold">Base experience</h2>
        <p>{{ pokemon()!.base_experience }}</p>
      </div>
    </div>

    <div class="flex flex-col items-center mt-5">
      <h2 class="text-xl font-bold">Abilities</h2>
      <ul>
        <li *ngFor="let ability of pokemon()!.abilities">{{ ability.ability.name }}</li>
      </ul>
    </div>

    <div class="flex flex-col items-center mt-5">
      <h2 class="text-xl font-bold">Types</h2>
      <ul>
        <li *ngFor="let type of pokemon()!.types">{{ type.type.name }}</li>
      </ul>
    </div>


  </section>
}

